*{
  margin: 0;
  padding: 0;
}
.content{
    background: rgb(223, 195, 195);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(0, 0, 0);
}


.section-layer{ 
    margin: 0 auto;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
}


.content-layers{
    /* border: 1px solid #000; */
    width: 15rem;
    height: 30rem;
    position: relative;
    display: flex;
    flex-wrap: wrap;

}

.img {
    position: absolute;
    max-width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    transition: all ease 2600ms;
    transform-style: preserve-3d;
    color: #000;
   
  }
  
.img:hover {
    /*
    The "perspective" CSS function (or property) enables 3D space and produces the illustion of "distance" between the Z plane and the user.
  
    Smaller value = exaggerated effect
    Larger value = subtle effect
    */
    
    transform: perspective(2200px) rotateX(50deg) rotateY(20deg) rotateZ(-25deg) translateX(35px) translateY(0px) translateZ(180px);
  }
  
.layers {
  width: auto;
  left: -10px;
 
    
  }

.tippy {
    width: 90%;
    left: 10px;
    top: -120px;
    
  }
  
  .content-layers:hover img.back {
    transform: perspective(1200px) rotateX(50deg) rotateY(20deg) rotateZ(-25deg) translateX(35px) translateY(0px) translateZ(10px);
  }
  .content-layers:hover img.mid {
    transform: perspective(1200px) rotateX(50deg) rotateY(20deg) rotateZ(-25deg) translateX(35px) translateY(0px) translateZ(40px);
  }
  
  .content-layers:hover img.top {
    transform: perspective(1200px) rotateX(50deg) rotateY(20deg) rotateZ(-25deg) translateX(35px) translateY(0px) translateZ(60px);
  }
  
  .content-layers:hover img.tippy {
    transform: perspective(1200px) rotateX(50deg) rotateY(20deg) rotateZ(-25deg) translateX(35px) translateY(0px) translateZ(15px);
  }
  